:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    min-width: 1025px;
    max-width: 1440px;
    margin: 0 auto;
}

/****** Nav / Site menu ***********/
.site-menu {
    width: 100%;
    height: fit-content;
    position: fixed;
    background-color: #FFFFFF;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.site-menu__logo {
    width: 60px;
    height: auto;
    padding: 30px 50px;
}
.site-menu__logo-image {
    width: 100%;
    height: auto;
}
.site-menu__menu {
    margin: 0;
    padding: 0 50px;
    display: flex;
    align-items: flex-start;
    gap: 70px;
    list-style: none;
}
.site-menu__menu-item {
    padding-top: 16px;
    border: none;
    border-top: solid 2px transparent;
}
.site-menu__menu-link {
    color: #000000;
}
.site-menu__menu-item:hover,
.site-menu__menu-item--active {
    border-top: solid 2px var(--main-color);
}
.site-menu__menu-item:hover .site-menu__menu-link,
.site-menu__menu-item--active .site-menu__menu-link {
    color: var(--main-color);
}








.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
    min-width: 1025px;
    max-width: 1440px;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}